* {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom, #333333, #444444, #555555);
}
.start {
    height: 200px; /* Increased height for better visibility */
    display: flex;
    border: 1px solid black; /* Improved border style */
    background-color: black;
    align-content: center;
    justify-content: space-evenly;
}

.photo1 {
    background-image: url();
    height: 180px; /* Adjusted height */
    width: 180px; /* Increased width for better alignment */
    border-radius: 50%;
    background-color: white;
    margin: 10px 10px; /* Improved spacing */
    background-size: contain; /* Better background image display */
    background-repeat: no-repeat;
}

.name {
    height: 80px;
    width: 800px;
    font-size: 50px;
    font-weight: 700;
    color: #E3E3E3;
}

.prof {
    height: 40px; /* Reduced height for moderation */
    width: 800px;
    font-size: 30px; /* Adjusted font size */
    font-weight: 500;
    text-decoration: none;
    color: goldenrod; /* Attractive color for the profession */
    border-bottom: 2px solid white;
}

.inborder {
    height: 20px; /* Reduced height for moderation */
    border-bottom: 1px solid #789391; /* Matched the border color with profession color */
}  

.cat {
    height: 50px; /* Reduced height for moderation */
    width: 800px;
    font-size: 24px; /* Adjusted font size */
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    margin-top: 20px; 
}
.margin {
    text-decoration: none;
    color: #E3E3E3;
}
.margin:hover{
    font-size: 34px;
    color: gold;
}
.contact{
    height: 400px;
    width: 30%;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    display: block;
}
.con{
    height: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.con1{
    height: 300px;
    display: flex;
    display: block;
    align-content: space-evenly; 
}
.con2{
    font-size: 20px;
    font-weight: 400;
    margin:40px 20px;
}
.li{
    text-decoration: none;
    color: black;
}
.st2{
    display: flex;
    justify-content: space-evenly;
}
.aboutme{
    height: 400px;
    width: 60%;
    background-color: #E3E3E3;
    margin-top: 10px;
    margin-left: 10px;
}
.con3{
    height: 325px;
}
p{
    text-indent: 16.5px;
    margin: 12.5px 30px 0px 30px;
    color: black;
    -webkit-text-stroke-width: 0.8px;
    text-align: center;
}
@media (max-width: 375px) {
    /* Custom styles for screens with a maximum width of 375px (portrait phones) */
    .start {
        flex-direction: column;
    }

    .photo1 {
        margin: 0 auto; /* Center the photo */
    }

    .name {
        font-size: 20px;
    }

    .prof {
        font-size: 16px;
    }

    .cat {
        font-size: 14px;
    }
}

